<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patients</title>
</head>
<body>
    <h1>All Patients</h1>
    <div>
        <a href="/patients/new">Add Patient</a>
    </div>
    <ul>
        <% for (let patient of patients){ %>
        <li><a href="/patients/<%=patient._id %>"><%= patient.name %></a></li>
        <%}%>
    </ul>
</body>
</html>