<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>New Patient</title>-->
<!--</head>-->
<!--<body>-->
<!--    <form action="/patients" method="POST" enctype="multipart/form-data">-->
<!--        <div>-->
<!--            <label for="name">Name</label>-->
<!--            <input type="text" id="name" name="patient[name]">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="age">Age</label>-->
<!--            <input type="number" name="patient[age]" id="age">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="gender">Gender</label>-->
<!--            <input type="text" id="gender" name="patient[gender]">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="image">Profile Picture (optional)</label>-->
<!--            <input type="file" id="image" name="patient[image]">-->
<!--        </div>-->
<!--        <button>Add Patient</button>-->
<!--    </form>-->
<!--    <a href="/patients">All Patients</a>-->
<!--</body>-->
<!--</html>-->
<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Patient</h1>
    <div class="col-6 offset-3">
        <form action="/patients" method="POST">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" name="patient[name]" id="name">
            </div>
            <div class="mb-3">
                <label class="form-label" for="age">Age</label>
                <input class="form-control" type="number" name="patient[age]" id="age">
            </div>
            <div class="mb-3">
                <label class="form-label" for="gender">Gender</label>
                <input class="form-control" type="text" name="patient[gender]" id="gender">
            </div>
            <div class="mb-3">
                <label for="image">Profile Picture (optional)</label>
                <input type="file" id="image" name="patient[image]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="extra_notes">Extra Notes</label>
                <textarea class="form-control" type="text" id="extra_notes" name="patient[extra_notes]"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Patient</button>
            </div>
        </form>
    </div>
</div>